<div class="2col-300x500">
        <div class="col300 summary-info">
              <%= render :partial => "/partials/dashboard" %>

              <h4>You may be interested to know:</h4>
              <ul>
                      <li>Inviting friends to play grows your gang</li>
                      <li>Maintain your energy at a high level to do well</li>
                      <li>Do more tasks and you will win negotiations</li>
                      <li>Buying items will help only in certain negotiations</li>
                      <li>Be bold but watch out for risky negotiations</li>
              </ul>

        </div><!-- /col300 -->
        <div class="col500">
              <h1 class="center-title">Cool! Its time to negotiate</h1>
              <div class="subtitle">
                    <h4>Enter an opponent</h4>
              </div>
              <!--div class="opponent"-->
                    <% form_tag search_users_path, {:class => "opponent"} do %>
                        <%= text_field_tag :user, '', :class => "input-opp", :onKeyPress => "return keyRestrict(event,'0123456789 _abcdefghijklmnopqrstuvwxyz')" %>
                        <%= submit_tag "Go!", :class => "block back_green" %>
                    <% end %>
              <!--/div-->

              <% if @users and @users.size > 0 %>
                  <div class="subtitle-nobg"><h4>Possible opponent</h4></div>
                  <% if !params[:user].blank? %>Search Result for <b><i><%= params[:user] %></i></b><% end %>
                  <div class="possible-opp">
                      <% i = 0 %>
                      <% for user in @users %>
                            <% @class = ((i+=1) != @users.size)? "divider-b" : "" %>
                              <div class="<%= @class %>">
                                    <table>
                                            <thead>
                                                    <tr>
                                                        <td><%= user.style %></td>
                                                        <td class="table-c">Level</td>
                                                        <td class="table-c"> Risk</td>
                                                        <td class="table-c">Points to play</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                            </thead>

                                            <tbody>
                                                    <tr>
                                                        <td class="name"><%= user.screen_name %></td>
                                                        <td class="level"><%= current_level(user) %></td>
                                                        <td class="donate"><%= user_risk(user.style) %></td>
                                                        <td class="points"><%= number_to_currency(user.points, :precision => 0, :unit => '') %></td>
                                                        <td class="table-r">
                                                            <% form_tag nego_select_path(user) do %>
                                                                <%= image_submit_tag("/images/negociate.jpg") %>
                                                            <% end %>
                                                        </td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                    <p></p>
                                    <span><a href="#"><%#= Negotiation::CATEGORIES[rand(30)] %></a></span>
                              </div>
                        <% end %>
                    </div><!-- /possible-opp -->
            <% else %>
                    <div class="red"><h4><%= (@flag == true) ? "No Users" : "Sorry no matches found" %></h4></div>
            <% end %>
        </div><!-- /col500 -->
</div><!-- /2col-300x500 -->
